.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#gameDiv {
	margin: 20px;
	width: 97%;
}

html, body {
    // margin: 0;
	// height: 100%;
	width: 100%;
	overflow: hidden;
}

html {
	//background-color: grey;
}

.button-div {
	//padding: 0 20px 20px 0;
	//width: 200px;
	//display: inline-block;
}

.title-heading {
	font-weight: bold;
}

button {
	width: 100%;
	margin-bottom: 20px;
}

.bx--btn {
	min-height: 4.5rem;
}

.bx--loading {
	// position: absolute;
	// top: 25%;
	// left: 25%;
}

img {
	margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
